<p>並び変え<%= @sort %></p>
<%= form_tag(root_path, method: "get") do %>
<%= select_tag "sort", options_for_select([["いいねが多い順", "many"], ["いいねが少ない順", "few"], ["ツイートが新しい順", "new"], ["ツイートが古い順", "old"]],:selected=>"many") %>
<input type="submit" value="検索">
<% end %>

<div class="tweet_list">
<% @tweets.each do |tweet| %>
 <% if tweet.fav > 0 %>
<div class="tweet">
 <p><%= tweet.tweet %></p>
 <p class= "fav_count"><%= tweet.fav %>Fav</p>
 <p><%= tweet.tweet_time %></p>
</div>
<% end %>
<% end %>
</div>